<%- include('../loginlayouts/header.ejs') -%>

<!-- main -->
<div class="w3layouts-main"> 
	<div class="bg-layer">
		<div class="header-main">
			<div class="main-icon">
				<span class="fa fa-eercast"></span>
			</div>
      <h6 style="color: red;"><%= message %></h6>
			<div class="header-left-bottom">
        <h5 class="m-0" style="color: #fff;">Mobile phone verification</h5>
        <br><br>
        <span class="mobile-text" style="color: #fff;">Enter the code we just send on your mobile phone or email</span>
        <div><span style="color: rgb(255, 0, 0);" id="timer"></span></div>
        <form action="verification" method="post">
          <div class="d-flex flex-row mt-5">
            <input type="number" class="form-control" name="number1" autofocus="">
            <input type="number" class="form-control" name="number2">
            <input type="number" class="form-control" name="number3">
            <input type="number" class="form-control" name="number4">
          </div>
          <div class="text-center mt-5"><span style="color: #fff;" class="d-block mobile-text">Don't receive the code?</span><span id="resend" class="font-weight-bold text-danger cursor">Resend</span></div>
          <div>
            <button type="submit" class="btn" style="color: #fff;">verify</button>
          </div>
          <p style="background-color: transparent; color: rgb(38, 211, 38);" class="success-message"></p>
        </form>
			</div>
		</div>
	</div>
</div>	

<script>

  function disableInputFields() {
    const inputFields = document.querySelectorAll('.form-control');
    inputFields.forEach((field) => {
      field.disabled = true;
    });
  }

  var count = 60;
  const updateTimer = ()=>{
    count --;
    if(count<0){
      document.getElementById('timer').textContent  = 'time up!';
      disableInputFields();
    }
    else{
      document.getElementById('timer').textContent  = count;
    }
    return count;
  } 
	const timerfn		= setInterval(updateTimer,1000)
	setTimeout(()=>{
		clearInterval(timerfn);
	},61000);


  document.getElementById('resend').addEventListener('click',()=>{
    location.reload();
  })
  
</script>
<%- include('../loginlayouts/footer.ejs') -%>