<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/admin/libs/dropzone/dist/dropzone.css" rel="stylesheet" >
    <link href="/admin/libs/%40yaireo/tagify/dist/tagify.css" rel="stylesheet">
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8S4MT3EYG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'G-M8S4MT3EYG');
    </script>
    <link href="/admin/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="/admin/libs/%40mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/admin/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/css/theme.min.css">
    <title>Starter Page</title>
  </head>
  <body>